{% extends 'base.html.twig' %}

{% block head_title %}
    Receet - Ingrédients
{% endblock %}
{% block title %}
    Receet - Ingrédients
{% endblock %}

{% block body %}
    <p>{{ message }}</p>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }} {# Desactiver les validations Navigateur #}
    {{ form_start(form)     }}
    {{ form_widget(form)    }}
    {{ form_end(form)       }}
{% endblock %}